@font-face {
    font-family: "Karla";
    src: url('../fonts/Karla-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: "Karla";
    src: url('../fonts/Karla-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face{
    font-family: "Poppins";
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face{
    font-family: "Georgia";
    src: url('../fonts/Georgia_regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face{
    font-family: "Palatino Linotype";
    src: url('../fonts/Palatino_Linotype.ttf') format('truetype');
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    font-family: "Karla";
    font-weight: 400;
    overflow-x: hidden;
}
.container{
    margin: 0 auto;
    width: 950px;
}

/* секция header */
/* класс, в котором располагается шапка, делаю ее горизонтаьной и растянутой */
.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}
/* от иконки корзины отступ слева и справа */
.nav_icon{
    margin-left: 20px;
    margin-right: 10px;
}
/* настройка шрифта тегов а */
.nav_a{
    display: flex;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    margin-right: 30px;
}
/* подчеркивание при наведении на тег */
.nav_a:hover{
    text-decoration: underline;
}
/* класс, в котором располагаются теги а, делаю его горизонтаьной */
.nav{
    display: flex;
}
/* для суммы горзины настройка шрифтов, и заднего фона*/
.nav_sum{
    margin-left: 10px;
    background: #1D1F2E;
    border-radius: 9px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    width: 20px;
    text-align: center;
    color: #FFFFFF;
}

/* секция main */
/* вставка заднего фона для класса */
.main_back{
    margin: 0 auto;
    width: 1380px;
    background: url('../img/photos/main_photo.png') no-repeat center center / cover;
}
/* класс, в котором весь текст будет по центру, отступы сверху и снизу */
.main_wrapper{
    text-align: center;
    padding: 160px 0;
}
/* настройка предзаголовка (свойства текста) */
.main_intro{
    margin-bottom: 10px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* настройка заголовка */
.main_title{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 47px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}
/* подзаголовка */
.main_subtitle{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 40px;
    text-align: center;
    color: #FFFFFF;
}
/* настройка кнопки, текста в ней */
.main_btn{
    font-family: 'Karla';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
    border-radius: 0px;
    Width:231px;
    Height:33px;
    border: none;
    cursor: pointer;
}
/* изменение свойств кнопки при наведении */
.main_btn:hover{
    box-shadow: 0 0 10px #FFFFFF;
}

/* секция story */
/* настройка текста по центру, отступы сверху и снизу */
.story_wrapper{
    text-align: center;
    margin: 100px 0;
}
/* настройка шрифта заголовка */
.story_title{
    margin-bottom: 16px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color: #1D1F2E;
}
/* настройка шрифта текста секции */
.story_text{
    margin-bottom: 20px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}
/* настройка шрифта тега а */
.story_a{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #A25F4B;
}
/* изменение свойств при наведении */
.story_a:hover{
    text-decoration: underline;
}

/* секция mugs */
/* настройка текста по центру, нижний отступ от секции */
.mugs_wrapper{
    text-align: center;
    margin-bottom: 100px;
}
.mugs_block{
    display: grid;
}
/* настройка шрифта заголовка, нижнего отступа */
.mugs_title{
    margin-bottom: 100px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
/* настройка карточек по горизонтали */
.mugs_blocks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* настройка шрифта названия продукта */
.name_of_mug{
    margin-top: 35px;
    margin-bottom: 5px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1D1F2E;
}
.name_of_mug:hover{
    text-decoration: underline;
}
/* настройка шрифта цены */
.mugs_sum{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);    
}
/* время, с которфм будет увеличиваться фотография */
.photo{
    transition: 1s;
}
/* увеличение фотографии при наведении, задняя тень */
.photo:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #A25F4B;
}
/* настройка цен (их расположение) */
.mugs_sums{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* настройка шрифта настоящей цены */
.mug_sum_real{
    margin-right: 10px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #A25F4B;
}
/* настройка шрифта прошлой цены */
.mug_sum_unreal{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: rgba(29, 31, 46, 0.4);    
}